openapi: 3.0.1
info:
  title: Shortcut API
  description: Shortcut API
  version: "3.0"
servers:
- url: https://api.app.shortcut.com/
security:
- api_token: []
paths:
  /api/v3/categories:
    get:
      summary: List Categories
      description: List Categories returns a list of all Categories and their attributes.
      operationId: listCategories
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Category
      description: Create Category allows you to create a new Category in Shortcut.
      operationId: createCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategory'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateCategory
  /api/v3/categories/{category-public-id}:
    get:
      summary: Get Category
      description: Get Category returns information about the selected Category.
      operationId: getCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Category
      description: "Update Category allows you to replace a Category name with another\
        \ name. If you try to name a Category something that already exists, you will\
        \ receive a 422 response."
      operationId: updateCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category you wish to update.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategory'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateCategory
    delete:
      summary: Delete Category
      description: Delete Category can be used to delete any Category.
      operationId: deleteCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/categories/{category-public-id}/milestones:
    get:
      summary: List Category Milestones
      description: List Category Milestones returns a list of all Milestones with
        the Category.
      operationId: listCategoryMilestones
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Milestone'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/categories/{category-public-id}/objectives:
    get:
      summary: List Category Objectives
      description: Returns a list of all Objectives with the Category.
      operationId: listCategoryObjectives
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Milestone'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/custom-fields:
    get:
      summary: List Custom Fields
      operationId: listCustomFields
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/custom-fields/{custom-field-public-id}:
    get:
      summary: Get Custom Field
      operationId: getCustomField
      parameters:
      - name: custom-field-public-id
        in: path
        description: The unique ID of the CustomField.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Custom Field
      description: "Update Custom Field can be used to update the definition of a\
        \ Custom Field. The order of items in the 'values' collection is interpreted\
        \ to be their ascending sort order.To delete an existing enum value, simply\
        \ omit it from the 'values' collection. New enum values may be created inline\
        \ by including an object in the 'values' collection having a 'value' entry\
        \ with no 'id' (eg. {'value': 'myNewValue', 'color_key': 'green'})."
      operationId: updateCustomField
      parameters:
      - name: custom-field-public-id
        in: path
        description: The unique ID of the CustomField.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomField'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "409":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConflictError'
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateCustomField
    delete:
      summary: Delete Custom Field
      operationId: deleteCustomField
      parameters:
      - name: custom-field-public-id
        in: path
        description: The unique ID of the CustomField.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/entity-templates:
    get:
      summary: List Entity Templates
      description: List all the entity templates for the Workspace.
      operationId: listEntityTemplates
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityTemplate'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Entity Template
      description: Create a new entity template for the Workspace.
      operationId: createEntityTemplate
      requestBody:
        description: Request parameters for creating an entirely new entity template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTemplate'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEntityTemplate
  /api/v3/entity-templates/disable:
    put:
      summary: Disable Story Templates
      description: Disables the Story Template feature for the Workspace.
      operationId: disableStoryTemplates
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/entity-templates/enable:
    put:
      summary: Enable Story Templates
      description: Enables the Story Template feature for the Workspace.
      operationId: enableStoryTemplates
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/entity-templates/{entity-template-public-id}:
    get:
      summary: Get Entity Template
      description: Get Entity Template returns information about a given entity template.
      operationId: getEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the entity template.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Entity Template
      description: Update an entity template's name or its contents.
      operationId: updateEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the template to be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: |-
          Request parameters for changing either a template's name or any of
            the attributes it is designed to pre-populate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTemplate'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateEntityTemplate
    delete:
      summary: Delete Entity Template
      operationId: deleteEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the entity template.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/epic-workflow:
    get:
      summary: Get Epic Workflow
      description: Returns the Epic Workflow for the Workspace.
      operationId: getEpicWorkflow
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicWorkflow'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/epics:
    get:
      summary: List Epics
      description: List Epics returns a list of all Epics and their attributes.
      operationId: listEpics
      parameters:
      - name: includes_description
        in: query
        description: A true/false boolean indicating whether to return Epics with
          their descriptions.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Epic
      description: Create Epic allows you to create a new Epic in Shortcut.
      operationId: createEpic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpic'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEpic
  /api/v3/epics/{epic-public-id}:
    get:
      summary: Get Epic
      description: Get Epic returns information about the selected Epic.
      operationId: getEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Epic
      description: "Update Epic can be used to update numerous fields in the Epic.\
        \ The only required parameter is Epic ID, which can be found in the Shortcut\
        \ UI."
      operationId: updateEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEpic'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateEpic
    delete:
      summary: Delete Epic
      description: Delete Epic can be used to delete the Epic. The only required parameter
        is Epic ID.
      operationId: deleteEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/epics/{epic-public-id}/comments:
    get:
      summary: List Epic Comments
      description: Get a list of all Comments on an Epic.
      operationId: listEpicComments
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreadedComment'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Epic Comment
      description: This endpoint allows you to create a threaded Comment on an Epic.
      operationId: createEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpicComment'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEpicComment
  /api/v3/epics/{epic-public-id}/comments/{comment-public-id}:
    get:
      summary: Get Epic Comment
      description: This endpoint returns information about the selected Epic Comment.
      operationId: getEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Epic Comment
      description: This endpoint allows you to update a threaded Comment on an Epic.
      operationId: updateEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComment'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateComment
    post:
      summary: Create Epic Comment Comment
      description: This endpoint allows you to create a nested Comment reply to an
        existing Epic Comment.
      operationId: createEpicCommentComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the parent Epic Comment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentComment'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateCommentComment
    delete:
      summary: Delete Epic Comment
      description: This endpoint allows you to delete a Comment from an Epic.
      operationId: deleteEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/epics/{epic-public-id}/stories:
    get:
      summary: List Epic Stories
      description: Get a list of all Stories in an Epic.
      operationId: listEpicStories
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: includes_description
        in: query
        description: A true/false boolean indicating whether to return Stories with
          their descriptions.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/epics/{epic-public-id}/unlink-productboard:
    post:
      summary: Unlink Productboard from Epic
      description: This endpoint allows you to unlink a productboard epic.
      operationId: unlinkProductboardFromEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/external-link/stories:
    get:
      summary: Get External Link Stories
      description: Get Stories which have a given External Link associated with them.
      operationId: getExternalLinkStories
      parameters:
      - name: external_link
        in: query
        description: The external link associated with one or more stories.
        required: true
        style: form
        explode: true
        schema:
          maxLength: 2048
          pattern: ^https?://.+$
          type: string
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/files:
    get:
      summary: List Files
      description: List Files returns a list of all UploadedFiles in the workspace.
      operationId: listFiles
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UploadedFile'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Upload Files
      description: |-
        Upload Files uploads one or many files and optionally associates them with a story.
           Use the multipart/form-data content-type to upload.
           Each `file` key should contain a separate file.
           Each UploadedFile's name comes from the Content-Disposition header "filename" directive for that field.
      operationId: uploadFiles
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/v3_files_body'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UploadedFile'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/files/{file-public-id}:
    get:
      summary: Get File
      description: Get File returns information about the selected UploadedFile.
      operationId: getFile
      parameters:
      - name: file-public-id
        in: path
        description: The File’s unique ID.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update File
      description: Update File updates the properties of an UploadedFile (but not
        its content).
      operationId: updateFile
      parameters:
      - name: file-public-id
        in: path
        description: The unique ID assigned to the file in Shortcut.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFile'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateFile
    delete:
      summary: Delete File
      description: Delete File deletes a previously uploaded file.
      operationId: deleteFile
      parameters:
      - name: file-public-id
        in: path
        description: The File’s unique ID.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/groups:
    get:
      summary: List Groups
      description: "A group in our API maps to a \"Team\" within the Shortcut Product.\
        \ A Team is a collection of Users that can be associated to Stories, Epics,\
        \ and Iterations within Shortcut."
      operationId: listGroups
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        "400":
          description: Schema mismatch
          content: {}
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateGroup
  /api/v3/groups/{group-public-id}:
    get:
      summary: Get Group
      operationId: getGroup
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Group
      operationId: updateGroup
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        "400":
          description: Schema mismatch
          content: {}
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateGroup
  /api/v3/groups/{group-public-id}/stories:
    get:
      summary: List Group Stories
      description: "List the Stories assigned to the Group. (By default, limited to\
        \ 1,000)."
      operationId: listGroupStories
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: "The maximum number of results to return. (Defaults to 1000,\
          \ max 1000)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: The offset at which to begin returning results. (Defaults to
          0)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/iterations:
    get:
      summary: List Iterations
      operationId: listIterations
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IterationSlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Iteration
      operationId: createIteration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIteration'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateIteration
  /api/v3/iterations/disable:
    put:
      summary: Disable Iterations
      description: Disables Iterations for the current workspace
      operationId: disableIterations
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/iterations/enable:
    put:
      summary: Enable Iterations
      description: Enables Iterations for the current workspace
      operationId: enableIterations
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/iterations/{iteration-public-id}:
    get:
      summary: Get Iteration
      operationId: getIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Iteration
      operationId: updateIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIteration'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateIteration
    delete:
      summary: Delete Iteration
      operationId: deleteIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/iterations/{iteration-public-id}/stories:
    get:
      summary: List Iteration Stories
      description: Get a list of all Stories in an Iteration.
      operationId: listIterationStories
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: includes_description
        in: query
        description: A true/false boolean indicating whether to return Stories with
          their descriptions.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/key-results/{key-result-public-id}:
    get:
      summary: Get Key Result
      description: Get Key Result returns information about a chosen Key Result.
      operationId: getKeyResult
      parameters:
      - name: key-result-public-id
        in: path
        description: The ID of the Key Result.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResult'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Key Result
      description: "Update Key Result allows updating a Key Result's name or initial,\
        \ observed, or target values."
      operationId: updateKeyResult
      parameters:
      - name: key-result-public-id
        in: path
        description: The ID of the Key Result.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyResult'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResult'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateKeyResult
  /api/v3/labels:
    get:
      summary: List Labels
      description: List Labels returns a list of all Labels and their attributes.
      operationId: listLabels
      parameters:
      - name: slim
        in: query
        description: A true/false boolean indicating if the slim versions of the Label
          should be returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Label'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Label
      description: Create Label allows you to create a new Label in Shortcut.
      operationId: createLabel
      requestBody:
        description: Request parameters for creating a Label on a Shortcut Story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabelParams'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateLabelParams
  /api/v3/labels/{label-public-id}:
    get:
      summary: Get Label
      description: Get Label returns information about the selected Label.
      operationId: getLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Label
      description: "Update Label allows you to replace a Label name with another name.\
        \ If you try to name a Label something that already exists, you will receive\
        \ a 422 response."
      operationId: updateLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label you wish to update.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLabel'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateLabel
    delete:
      summary: Delete Label
      description: Delete Label can be used to delete any Label.
      operationId: deleteLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/labels/{label-public-id}/epics:
    get:
      summary: List Label Epics
      description: List all of the Epics with the Label.
      operationId: listLabelEpics
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/labels/{label-public-id}/stories:
    get:
      summary: List Label Stories
      description: List all of the Stories with the Label.
      operationId: listLabelStories
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: includes_description
        in: query
        description: A true/false boolean indicating whether to return Stories with
          their descriptions.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/linked-files:
    get:
      summary: List Linked Files
      description: List Linked Files returns a list of all Linked-Files and their
        attributes.
      operationId: listLinkedFiles
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedFile'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Linked File
      description: Create Linked File allows you to create a new Linked File in Shortcut.
      operationId: createLinkedFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedFile'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateLinkedFile
  /api/v3/linked-files/{linked-file-public-id}:
    get:
      summary: Get Linked File
      description: Get File returns information about the selected Linked File.
      operationId: getLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Linked File
      description: Updated Linked File allows you to update properties of a previously
        attached Linked-File.
      operationId: updateLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkedFile'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateLinkedFile
    delete:
      summary: Delete Linked File
      description: Delete Linked File can be used to delete any previously attached
        Linked-File.
      operationId: deleteLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/member:
    get:
      summary: Get Current Member Info
      description: Returns information about the authenticated member.
      operationId: getCurrentMemberInfo
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberInfo'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/members:
    get:
      summary: List Members
      description: Returns information about members of the Workspace.
      operationId: listMembers
      parameters:
      - name: org-public-id
        in: query
        description: The unique ID of the Organization to limit the list to.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          x-doc-skip: true
        x-doc-skip: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/members/{member-public-id}:
    get:
      summary: Get Member
      description: Returns information about a Member.
      operationId: getMember
      parameters:
      - name: member-public-id
        in: path
        description: The Member's unique ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: org-public-id
        in: query
        description: The unique ID of the Organization to limit the lookup to.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          x-doc-skip: true
        x-doc-skip: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/milestones:
    get:
      summary: List Milestones
      description: "(Deprecated: Use 'List Objectives') List Milestones returns a\
        \ list of all Milestones and their attributes."
      operationId: listMilestones
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Milestone'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Milestone
      description: "(Deprecated: Use 'Create Objective') Create Milestone allows you\
        \ to create a new Milestone in Shortcut."
      operationId: createMilestone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestone'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        "400":
          description: Schema mismatch
          content: {}
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateMilestone
  /api/v3/milestones/{milestone-public-id}:
    get:
      summary: Get Milestone
      description: "(Deprecated: Use 'Get Objective') Get Milestone returns information\
        \ about a chosen Milestone."
      operationId: getMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Milestone
      description: "(Deprecated: Use 'Update Objective') Update Milestone can be used\
        \ to update Milestone properties."
      operationId: updateMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMilestone'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateMilestone
    delete:
      summary: Delete Milestone
      description: "(Deprecated: Use 'Delete Objective') Delete Milestone can be used\
        \ to delete any Milestone."
      operationId: deleteMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/milestones/{milestone-public-id}/epics:
    get:
      summary: List Milestone Epics
      description: "(Deprecated: Use 'List Objective Epics') List all of the Epics\
        \ within the Milestone."
      operationId: listMilestoneEpics
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/objectives:
    get:
      summary: List Objectives
      description: List Objectives returns a list of all Objectives and their attributes.
      operationId: listObjectives
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Objective'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Objective
      description: Create Objective allows you to create a new Objective in Shortcut.
      operationId: createObjective
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObjective'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        "400":
          description: Schema mismatch
          content: {}
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateObjective
  /api/v3/objectives/{objective-public-id}:
    get:
      summary: Get Objective
      description: Get Objective returns information about a chosen Objective.
      operationId: getObjective
      parameters:
      - name: objective-public-id
        in: path
        description: The ID of the Objective.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Objective
      description: Update Objective can be used to update Objective properties.
      operationId: updateObjective
      parameters:
      - name: objective-public-id
        in: path
        description: The ID of the Objective.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateObjective'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateObjective
    delete:
      summary: Delete Objective
      description: Delete Objective can be used to delete any Objective.
      operationId: deleteObjective
      parameters:
      - name: objective-public-id
        in: path
        description: The ID of the Objective.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/objectives/{objective-public-id}/epics:
    get:
      summary: List Objective Epics
      description: List all of the Epics within the Objective.
      operationId: listObjectiveEpics
      parameters:
      - name: objective-public-id
        in: path
        description: The ID of the Objective.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/projects:
    get:
      summary: List Projects
      description: List Projects returns a list of all Projects and their attributes.
      operationId: listProjects
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    post:
      summary: Create Project
      description: Create Project is used to create a new Shortcut Project.
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateProject
  /api/v3/projects/{project-public-id}:
    get:
      summary: Get Project
      description: Get Project returns information about the selected Project.
      operationId: getProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
    put:
      summary: Update Project
      description: Update Project can be used to change properties of a Project.
      operationId: updateProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProject'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateProject
    delete:
      summary: Delete Project
      description: "Delete Project can be used to delete a Project. Projects can only\
        \ be deleted if all associated Stories are moved or deleted. In the case that\
        \ the Project cannot be deleted, you will receive a 422 response."
      operationId: deleteProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/projects/{project-public-id}/stories:
    get:
      summary: List Stories
      description: List Stories returns a list of all Stories in a selected Project
        and their attributes.
      operationId: listStories
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: includes_description
        in: query
        description: A true/false boolean indicating whether to return Stories with
          their descriptions.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/repositories:
    get:
      summary: List Repositories
      description: List Repositories returns a list of all Repositories and their
        attributes.
      operationId: listRepositories
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/repositories/{repo-public-id}:
    get:
      summary: Get Repository
      description: Get Repository returns information about the selected Repository.
      operationId: getRepository
      parameters:
      - name: repo-public-id
        in: path
        description: The unique ID of the Repository.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search:
    get:
      summary: Search
      description: "Search lets you search Epics and Stories based on desired parameters.\
        \ Since ordering of the results can change over time (due to search ranking\
        \ decay, new Epics and Stories being created), the `next` value from the previous\
        \ response can be used as the path and query string for the next page to ensure\
        \ stable ordering."
      operationId: search
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search/epics:
    get:
      summary: Search Epics
      description: "Search Epics lets you search Epics based on desired parameters.\
        \ Since ordering of stories can change over time (due to search ranking decay,\
        \ new Epics being created), the `next` value from the previous response can\
        \ be used as the path and query string for the next page to ensure stable\
        \ ordering."
      operationId: searchEpics
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicSearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search/iterations:
    get:
      summary: Search Iterations
      description: "Search Iterations lets you search Iterations based on desired\
        \ parameters. Since ordering of results can change over time (due to search\
        \ ranking decay, new Iterations being created), the `next` value from the\
        \ previous response can be used as the path and query string for the next\
        \ page to ensure stable ordering."
      operationId: searchIterations
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterationSearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search/milestones:
    get:
      summary: Search Milestones
      description: "Search Milestones lets you search Milestones based on desired\
        \ parameters. Since ordering of results can change over time (due to search\
        \ ranking decay, new Milestones being created), the `next` value from the\
        \ previous response can be used as the path and query string for the next\
        \ page to ensure stable ordering."
      operationId: searchMilestones
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectiveSearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search/objectives:
    get:
      summary: Search Objectives
      description: "Search Objectives lets you search Objectives based on desired\
        \ parameters. Since ordering of results can change over time (due to search\
        \ ranking decay, new Objectives being created), the `next` value from the\
        \ previous response can be used as the path and query string for the next\
        \ page to ensure stable ordering."
      operationId: searchObjectives
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectiveSearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/search/stories:
    get:
      summary: Search Stories
      description: "Search Stories lets you search Stories based on desired parameters.\
        \ Since ordering of stories can change over time (due to search ranking decay,\
        \ new stories being created), the `next` value from the previous response\
        \ can be used as the path and query string for the next page to ensure stable\
        \ ordering."
      operationId: searchStories
      parameters:
      - name: query
        in: query
        description: "See our help center article on [search operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)"
        required: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: page_size
        in: query
        description: The number of search results to include in a page. Minimum of
          1 and maximum of 25.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: detail
        in: query
        description: |-
          The amount of detail included in each result item.
             "full" will include all descriptions and comments and more fields on
             related items such as pull requests, branches and tasks.
             "slim" omits larger fulltext fields such as descriptions and comments
             and only references related items by id.
             The default is "full".
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - full
          - slim
      - name: next
        in: query
        description: The next page token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: "A collection of entity_types to search. Defaults to story and\
          \ epic. Supports: epic, iteration, objective, story."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - story
            - milestone
            - epic
            - iteration
            - objective
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySearchResults'
        "400":
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
  /api/v3/stories:
    post:
      summary: Create Story
      description: |-
        Create Story is used to add a new story to your Shortcut Workspace.
            This endpoint requires that either **workflow_state_id** or **project_id** be provided, but will reject the request if both or neither are specified. The workflow_state_id has been marked as required and is the recommended field to specify because we are in the process of sunsetting Projects in Shortcut.
      operationId: createStory
      requestBody:
        description: Request parameters for creating a story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryParams'
        required: true
      responses:
        "201":
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateStoryParams
  /api/v3/stories/bulk:
    put:
      summary: Update Multiple Stories
      description: Update Multiple Stories allows you to make changes to numerous
        stories at once.
      operationId: updateMultipleStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStories'
        required: true
      responses:
        "200":
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
                x-content-type: application/json
        "400":
          description: Schema mismatch
          content: {}
        "404":
          description: Resource does not exist
          content: {}
        "422":
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateStories
    post:
[...]
